<!-- fashionnew.component.html -->
<p>{{errMessage}}</p>
<table>
    <tr>
        <td>Fashion Style:</td>
        <td>
            <input type="text" class="form-control" #style name="style" id="style" placeholder="Nhập Style"
                [(ngModel)]="fashion.style" />
        </td>
    </tr>
    <tr>
        <td>Fashion Subject:</td>
        <td>
            <input type="text" class="form-control" #subject name="fashion_subject" id="fashion_subject"
                placeholder="Nhập Subject" [(ngModel)]="fashion.fashion_subject" />
        </td>
    </tr>
    <tr>
        <td>Fashion Detail:</td>
        <td>
            <input type="text" class="form-control" #detail name="fashion_detail" id="fashion_detail"
                placeholder="Nhập Detail" [(ngModel)]="fashion.fashion_detail" />
        </td>
    </tr>
    <tr>
        <td>Fashion Image:</td>
        <td>
            <input type="file" class="file-input" #image name="fashion_image" id="fashion_image"
                (change)="onFileSelected($event, fashion)" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="postFashion()">Submit</button>
            <button type="button" (click)="goBack()">Go back</button>
        </td>
    </tr>
</table>
