<ol type="I">
    <li> Module 1
        <ol type="1">
        </ol>
    </li>
    <li> Module 2
        <ol type="1" start="4">
        </ol>
    </li>
    <li> Module 3
        <ol type="1" start="7">
        </ol>
    </li>
    <li> Module 4
        <ol type="1" start="10">
        </ol>
    </li>
    <li> Module 5</li>
    <li> Module 6</li>
    <li> Module 7
        <ol type="1" start="89">
            <li>Exercise 1</li>
            <li> <a routerLink="/Dssp">Exercise 90</a> </li>
            <li> <a routerLink="Ex91">Exercise 91</a> </li>
            <li> <a routerLink="Ex92"> Exercise 92</a></li>
            <li> <a routerLink="Ex93"> Exercise 93</a></li>
            <li> <a routerLink="product">Danh sách sản phẩm</a></li>
            <li> <a routerLink="customer"> Customer</a></li>
        </ol>
    </li>
    <li> Module 10
        <ol>
            <li> <a routerLink="dongabank"> Dong-A Bank</a></li>
            <li> <a routerLink="FakeProduct"> Fake Product</a></li>
            <li> <a routerLink="Bitcoin">Bitcoin</a></li>
            <li> <a routerLink="curriculum">Book Management</a></li>
            <li> <a routerLink="ListFashion"> GET – List Fashion</a></li>
        </ol>
    </li>
</ol>