<!-- <table style="width: 100%;" border="1">
    <tr>
        <td colspan="2">
            <app-topmenu></app-topmenu>
        </td>
    </tr>
    <tr>
        <td style="width: 20%;">
            <app-left-menu></app-left-menu>
        </td>
        <td>
            <router-outlet></router-outlet>
        </td>
    </tr>
    <tr>
        <td colspan="3">Footer</td>
    </tr>
</table> -->


<!-- <app-fashion></app-fashion>  -->

<!-- <app-fashion-detail></app-fashion-detail> -->

<!-- <app-fashion-new></app-fashion-new> -->
<!-- <app-fashion-update></app-fashion-update> -->

<router-outlet></router-outlet>