body{
    margin: 0 10px;
}

div{
    margin: 0.5vh;
}

form{
    background-color: rgb(121, 187, 234);
}

.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.container-doublecol {
    display: grid;
    grid-template-columns: auto auto;
  }
  
.comments {
    width: 100%;
    height: 10vh;
    text-align: start;
  }