<p><b>82. binding-event-component works!</b></p>

<button (click)="onClick($event)">Click Me</button>
Name:
<input type="text" #myName>
<button (click)="onSubmit(myName.value)">Submit</button>

<table border="1">
    <tr>
        <td> Hsa: </td>
        <td> <input type="number" [(ngModel)]="hsa"></td>
    </tr>
    <tr>
        <td> Hsb: </td>
        <td><input type="number" [(ngModel)]="hsb"></td>
    </tr>
    <tr>
        <td> Ket qua: </td>
        <td> {{ketqua}} </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <button type="button" (click)="Plus()"> Plus</button>
            <button type="button" (click)="Subtract()"> Subtract</button>
            <button type="button" (click)="Multiply()"> Multiply</button>
            <button type="button" (click)="Divide()"> Divide</button>
            <button type="button" (click)="Reset()"> Lam lai</button>
        </td>
    </tr>
</table>