<p>third works!</p>
<p class="Mystyle1">
    University of Economics and Law
</p>

<p class="{{style1}}">Faculty Information System</p>

<p class="{{complexstyle}}">
    Student
</p>

<p class="{{complexstyle}} Mystyle4">
    Student
</p>

<!-- Slide 19 -->
<table>
    <tr>
        <td> Your Name: </td>
        <td>
            <input type="text" #myname>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" (click)="processClick(myname.value)"> Submit</button>
        </td>
    </tr>
</table>